@import 'origin.less';
@import 'less/bootstrap.less';

@c-border: #CCCCCC;
@c-bg-y: #FDB82C;

.row * {
	box-sizing: border-box;
}

.row {
	&::before, &::after {
		content: ' ';
		display: table;
		clear: both;
		box-sizing: border-box;
	}
}

/* col */
.col-3, .col-7 {
	float: left;
	box-sizing: border-box;
}

.clear-col {
	clear: both;
}

.col-7 {
	width: 70%;
}

.col-6 {
	width: 60%;
}

.col-4 {
	width: 40%;
}

.col-3 {
	width: 30%;
}

.col-7 .sxdl dd {
	width: auto;
}

.shaixuan .col-7 {
	border-right: 1px solid #ddd; 
}

.shaixuan .col-3 {
	padding: 0 30px;
}

.shaixuan .col-3 a {
	display: block;
	line-height: 20px;
}

.shaixuan .col-3 h2 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 18px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.col-border {
	border-right: 1px solid @c-border;
}

.tz_tab tr.ft12 td{
	font-size: 12px;
}

.rank {
	position: relative;
	color: #fff;
	z-index: 1;

	&::before {
		position: absolute;
		width: 32px;
		height: 32px;
		background: @c-bg-y;
		border-radius: 16px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		content: ' ';
		z-index: -1;
	}
}

.ui-progressbar-mid {
	margin:6px auto;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 8px;
    text-align: center;
    background: url(../images/progressbar.png)
}

.ui-progressbar-mid em {
    font-size: 14px
}

.ui-progressbar-mid-0 {
    background-position: 0 0
}

.ui-progressbar-mid-1 {
    background-position: -54px 0
}

.ui-progressbar-mid-2 {
    background-position: -108px 0
}

.ui-progressbar-mid-3 {
    background-position: -162px 0
}

.ui-progressbar-mid-4 {
    background-position: -216px 0
}

.ui-progressbar-mid-5 {
    background-position: -270px 0
}

.ui-progressbar-mid-6 {
    background-position: -324px 0
}

.ui-progressbar-mid-7 {
    background-position: -378px 0
}

.ui-progressbar-mid-8 {
    background-position: -432px 0
}

.ui-progressbar-mid-9 {
    background-position: -486px 0
}

.ui-progressbar-mid-10 {
    background-position: -540px 0
}

.ui-progressbar-mid-11 {
    background-position: -594px 0
}

.ui-progressbar-mid-12 {
    background-position: -648px 0
}

.ui-progressbar-mid-13 {
    background-position: -702px 0
}

.ui-progressbar-mid-14 {
    background-position: -756px 0
}

.ui-progressbar-mid-15 {
    background-position: -810px 0
}

.ui-progressbar-mid-16 {
    background-position: -864px 0
}

.ui-progressbar-mid-17 {
    background-position: -918px 0
}

.ui-progressbar-mid-18 {
    background-position: -972px 0
}

.ui-progressbar-mid-19 {
    background-position: -1026px 0
}

.ui-progressbar-mid-20 {
    background-position: -1080px 0
}

.ui-progressbar-mid-21 {
    background-position: -1134px 0
}

.ui-progressbar-mid-22 {
    background-position: -1188px 0
}

.ui-progressbar-mid-23 {
    background-position: -1242px 0
}

.ui-progressbar-mid-24 {
    background-position: -1296px 0
}

.ui-progressbar-mid-25 {
    background-position: -1350px 0
}

.ui-progressbar-mid-26 {
    background-position: -1404px 0
}

.ui-progressbar-mid-27 {
    background-position: -1458px 0
}

.ui-progressbar-mid-28 {
    background-position: -1512px 0
}

.ui-progressbar-mid-29 {
    background-position: -1566px 0
}

.ui-progressbar-mid-30 {
    background-position: -1620px 0
}

.ui-progressbar-mid-31 {
    background-position: -1674px 0
}

.ui-progressbar-mid-32 {
    background-position: -1728px 0
}

.ui-progressbar-mid-33 {
    background-position: -1782px 0
}

.ui-progressbar-mid-34 {
    background-position: -1836px 0
}

.ui-progressbar-mid-35 {
    background-position: -1890px 0
}

.ui-progressbar-mid-36 {
    background-position: -1944px 0
}

.ui-progressbar-mid-37 {
    background-position: -1998px 0
}

.ui-progressbar-mid-38 {
    background-position: -2052px 0
}

.ui-progressbar-mid-39 {
    background-position: -2106px 0
}

.ui-progressbar-mid-40 {
    background-position: -2160px 0
}

.ui-progressbar-mid-41 {
    background-position: -2214px 0
}

.ui-progressbar-mid-42 {
    background-position: -2268px 0
}

.ui-progressbar-mid-43 {
    background-position: -2322px 0
}

.ui-progressbar-mid-44 {
    background-position: -2376px 0
}

.ui-progressbar-mid-45 {
    background-position: -2430px 0
}

.ui-progressbar-mid-46 {
    background-position: -2484px 0
}

.ui-progressbar-mid-47 {
    background-position: -2538px 0
}

.ui-progressbar-mid-48 {
    background-position: -2592px 0
}

.ui-progressbar-mid-49 {
    background-position: -2646px 0
}

.ui-progressbar-mid-50 {
    background-position: -2700px 0
}

.ui-progressbar-mid-51 {
    background-position: -2754px 0
}

.ui-progressbar-mid-52 {
    background-position: -2808px 0
}

.ui-progressbar-mid-53 {
    background-position: -2862px 0
}

.ui-progressbar-mid-54 {
    background-position: -2916px 0
}

.ui-progressbar-mid-55 {
    background-position: -2970px 0
}

.ui-progressbar-mid-56 {
    background-position: -3024px 0
}

.ui-progressbar-mid-57 {
    background-position: -3078px 0
}

.ui-progressbar-mid-58 {
    background-position: -3132px 0
}

.ui-progressbar-mid-59 {
    background-position: -3186px 0
}

.ui-progressbar-mid-60 {
    background-position: -3240px 0
}

.ui-progressbar-mid-61 {
    background-position: -3294px 0
}

.ui-progressbar-mid-62 {
    background-position: -3348px 0
}

.ui-progressbar-mid-63 {
    background-position: -3402px 0
}

.ui-progressbar-mid-64 {
    background-position: -3456px 0
}

.ui-progressbar-mid-65 {
    background-position: -3510px 0
}

.ui-progressbar-mid-66 {
    background-position: -3564px 0
}

.ui-progressbar-mid-67 {
    background-position: -3618px 0
}

.ui-progressbar-mid-68 {
    background-position: -3672px 0
}

.ui-progressbar-mid-69 {
    background-position: -3726px 0
}

.ui-progressbar-mid-70 {
    background-position: -3780px 0
}

.ui-progressbar-mid-71 {
    background-position: -3834px 0
}

.ui-progressbar-mid-72 {
    background-position: -3888px 0
}

.ui-progressbar-mid-73 {
    background-position: -3942px 0
}

.ui-progressbar-mid-74 {
    background-position: -3996px 0
}

.ui-progressbar-mid-75 {
    background-position: -4050px 0
}

.ui-progressbar-mid-76 {
    background-position: -4104px 0
}

.ui-progressbar-mid-77 {
    background-position: -4158px 0
}

.ui-progressbar-mid-78 {
    background-position: -4212px 0
}

.ui-progressbar-mid-79 {
    background-position: -4266px 0
}

.ui-progressbar-mid-80 {
    background-position: -4320px 0
}

.ui-progressbar-mid-81 {
    background-position: -4374px 0
}

.ui-progressbar-mid-82 {
    background-position: -4428px 0
}

.ui-progressbar-mid-83 {
    background-position: -4482px 0
}

.ui-progressbar-mid-84 {
    background-position: -4536px 0
}

.ui-progressbar-mid-85 {
    background-position: -4590px 0
}

.ui-progressbar-mid-86 {
    background-position: -4644px 0
}

.ui-progressbar-mid-87 {
    background-position: -4698px 0
}

.ui-progressbar-mid-88 {
    background-position: -4752px 0
}

.ui-progressbar-mid-89 {
    background-position: -4806px 0
}

.ui-progressbar-mid-90 {
    background-position: -4860px 0
}

.ui-progressbar-mid-91 {
    background-position: -4914px 0
}

.ui-progressbar-mid-92 {
    background-position: -4968px 0
}

.ui-progressbar-mid-93 {
    background-position: -5022px 0
}

.ui-progressbar-mid-94 {
    background-position: -5076px 0
}

.ui-progressbar-mid-95 {
    background-position: -5130px 0
}

.ui-progressbar-mid-96 {
    background-position: -5184px 0
}

.ui-progressbar-mid-97 {
    background-position: -5238px 0
}

.ui-progressbar-mid-98 {
    background-position: -5292px 0
}

.ui-progressbar-mid-99 {
    background-position: -5346px 0
}

.ui-progressbar-mid-100 {
    background-position: -5400px 0
}