@import 'origin.less';
@import 'less/bootstrap.less';
@c-border: #CCCCCC;
@c-bg-y: #FDB82C;


/* grid system  */
.row * {
    //box-sizing: border-box;
}

.row {
    &::before, &::after {
        content: ' ';
        display: table;
        clear: both;
        //box-sizing: border-box;
    }
}

.col-3, .col-7 {
    float: left;
    //box-sizing: border-box;
}

.clear-col {
    clear: both;
}

.shaixuan .col-7 {
    border-right: 1px solid #ddd; 
}

.shaixuan .col-3 {
    padding: 0 30px;
}

.col-7 {
    width: 658px;
}

.col-3 {
    width: 219px;
}

.col-7 .sxdl dd {
    width: 560px;
}

.row {
    margin-left: 0;
    margin-right: 0;

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding: 0;
    }

    .col-border {
        margin-right: -1px;
    }
} 

.hidden {
    display: none;
}

/* common style */

img {
    max-width: 100%;
}

.nbr {
    border: none;

    td {
        border: none;
    }
}

.borb {
    border-bottom: 1px solid @c-border;
    padding-bottom: 36px;
}

.line-dotted {
    height: 1px;
    border-top: 1px dotted @c-border;
}

.bor-light {
    border-color: @c-border+#111;
}

.bor-lighter {
    border-color: @c-border+#222;
}

label {
    cursor: pointer;
}

input[type="submit"].btn, input[type="button"].btn {
    border: none;
    height: 24px;
    line-height: 24px;
    color: #fff;
    height: auto;
    width: 69px;
    text-align: center;
    line-height: auto;

    &.big {
        width: 100px;
    }
}

.max100 {
    max-width: 100%;
}

.lhn {
    * {
        line-height: 1.5em;
    }

    td {
        line-height: 1.5em !important;
        padding: 12px 3px;
    }

    th {
        line-height: 3em;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.col-border {
    border-right: 1px solid @c-border;
}


/* state of user center operation */
@c-s-success: #59C130;
@c-s-fail: #FDB82C;
@c-s-process: #2EAFEC;

.result-img {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    display: block;
    margin: 0 auto;
}

.state-success {
    .result-img {
        background-image: url(../images/success.png);
    }

    h3 {
        font-size: 24px;
        color: @c-s-success;
    }
}.state-fail {
    .result-img {
        background-image: url(../images/fail.png);
    }

    h3 {
        font-size: 24px;
        color: @c-s-fail;
    }
}.state-process {
    .result-img {
        background-image: url(../images/process.png);
    }

    h3 {
        font-size: 24px;
        color: @c-s-process;
    }
}


@col-padding: 30px;
.transfer-list {
    width: 938px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-xs-4 {
        width: 322px - @col-padding * 1.5;
    }

    .col-xs-8 {
        width: 646px - @col-padding * 1.5;

        .col-xs-4 {
            width: 199px;

            dd {
                float: left;
                width: 199px;
            }
        }
    }
}



.shaixuan .col-3 a {
    display: block;
    line-height: 20px;
}

.shaixuan .col-3 h2 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 18px;
}


.tz_tab tr.ft12 td{
    font-size: 12px;
}


/* index */
@dt: 80px;
.tongji {
    dt,dd {
        float: left;
    }

    dt {
        width: @dt;
        height: @dt*1.5;
    }

    dd {
        width: 275px - @dt - 20px;
        padding-left: 20px;
    }

    .tj_tzje, .tj_zqsy {
        background-position: 0 15px;
    }
}

/* 星标 */
.rank {
    position: relative;
    display: block;
    color: #fff;
    z-index: 1;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 0 auto;

    // &::before {
    // 	position: absolute;
    // 	width: 32px;
    // 	height: 32px;
    // 	background: @c-bg-y;
    // 	border-radius: 16px;
    // 	left: 50%;
    // 	top: 50%;
    // 	transform: translate(-50%, -50%);
    // 	content: ' ';
    // 	z-index: -1;
    // }
}

.rank-green {
    background: url(../images/rank-green.png) no-repeat;
}.rank-yellow {
    background: url(../images/rank-yellow.png) no-repeat;
}.rank-red {
    background: url(../images/rank-red.png) no-repeat;
}

.state .on {
    color: #fff;
    border-radius: 20px;
    background-color: #21aeef;
    padding: 0 12px;
}
.state a {
    display: inline-block;
    margin-right: 24px;
}

.state, .ur-amount-info, .ur-invest-info {
    margin-left: 0;
    margin-right: 0;

    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-9, .col-xs-10 {
        padding: 0;
    }
}

.gonggao {
    border: 1px solid @c-border;
    border-left: none;
    border-right: none;
    padding: 12px 0;
    float: none;
    width: auto;

    ul, li {
        width: 1100px;
    }

    li {
        position: relative;
    }

    .time {
        position: absolute;
        right: 250px;
        color: #ccc;
    }

    .more {
        position: absolute;
        right: 0;
        width: 100px;
        background: none;
        text-align: right;

        a {
            color: #888;
            float: none;
            border: 1px solid #888;
            border-radius: 12px;
            padding: 0 12px;
            line-height: 28px;

            &:hover {
                color: #ccc;
            }
        }
    }
}

.btn-more {
    width: 120px;
    background: none;
    margin: 0 auto;

    a {
        color: #888;
        border: 1px solid #888;
        border-radius: 12px;
        padding: 3px 16px;
        line-height: 34px;

        &:hover {
            color: #ccc;
        }
    }
}

/* un Authentication case */
.un-Authentication {
    .tjcard {
        width: 200px;
        height: 80px;
        padding: 10px 0;
        text-align: center;

        a i {
            margin: 0 auto;
        }
    }
}

/* subMenu */

.left_ul li i {
    background: url(../images/arrow-close.png) no-repeat;
    width: 10px;
    height: 6px;
    cursor: pointer;
}
.left_ul li.open i {
    background: url(../images/arrow-open.png) no-repeat;
}

.left_ul li ol {
    display: none;
    position: relative;
    z-index: 100;
}

.left_ul li {
    position: relative;
    z-index: 10;
    background: #f0f0f0;
}
// ----------------------------------------
// ! file select
// ----------------------------------------
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.file-upload {
    .file-select {
        position: relative;

        .file-select-name {
            display: none;
        }

        .file-select-button, input[type="file"] {
            position: absolute;
        }

        .file-select-button {
            left: 0;
            width: 100px;
        }

        input[type="file"] {
            left: 140px;
            display: block;
            top: 12px;
            width: auto;
            height: auto;
        }
    }
}
// ----------------------------------------
// ! navigation
// ----------------------------------------
/* header & navigation */
.logo {
    width: 434px;
    height: 54px;
}

ul.nav {
    li {
        float: left;
        position: relative;
        z-index: 9999;
        font-size: 18px;
        cursor: pointer;

        a {
            float: none;
        }

        &:hover {
            >a {
                color: @c-bg-y;
            }
        }

        ul {
            display: none;
            position: absolute;
            left: 0;
            width: 120px;
            top: 36px;
            padding: 12px;
            background: #fff;
            border: 1px solid @c-border;
            text-align: center;

            li {
                float: none;
                position: relative;
                z-index: 0;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                border: none;
                outline: none;
                width: 120px;

                a {
                    padding: 0;
                    font-size: 14px;
                    display: block;
                    line-height: 20px;
                    margin: 0;
                    border: none;
                    outline: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 120px;

                    &:hover {
                        background: @c-bg-y;
                        color: #fff;
                    }
                }
            }

            .sub-nav-icon {
                position: absolute;
                top: -5px;
                left: 68px;
                margin: 0;
                text-align: left;

                span {
                    display: block;
                    background: url(../images/nav-sub-nav-icon-2.png) no-repeat;
                    width: 9px;
                    height: 5px;
                }
            }

            &::before {
                // content: ' ';
                // position: absolute;
                // left: 50%;
                // top: 0;
                // border-left: 1px solid @c-border;
                // border-top: 1px solid @c-border;
                // background: #fff;
                // transform: rotate(45deg) translate(-50%, -50%);
                // width: 8px;
                // height: 8px;
            }
        }
    }

    .sub {
        padding-right: 3px;

        // &::after {
        // 	content: ' ';
        // 	position: absolute;
        // 	right: 7px;
        // 	top: 18px;
        // 	width: 0;
        // 	height: 0;
        // 	border-left: 4px solid transparent;
        // 	border-right: 4px solid transparent;
        // 	border-top: 4px solid #555;
        // }
    }
}

.sub-icon {
    background: url(../images/sub-icon.png) no-repeat;
    display: block;
    position: absolute;
    width: 8px;
    height: 4px;
    top: 18px;
    right: 7px;
    // border-left: 4px solid transparent;
    // border-right: 4px solid transparent;
    // border-top: 4px solid #555;
}

.ui-progressbar-mid {
    margin:6px auto;
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 8px;
    text-align: center;
    background: url(../images/progressbar.png) no-repeat;
}

.tongji dl dt {
  width: 124px;
  height: 124px;
}

.ui-progressbar-mid em {
    font-size: 14px
}

.ui-progressbar-mid-0 {
    background-position: 0 0
}

.ui-progressbar-mid-1 {
    background-position: -54px 0
}

.ui-progressbar-mid-2 {
    background-position: -108px 0
}

.ui-progressbar-mid-3 {
    background-position: -162px 0
}

.ui-progressbar-mid-4 {
    background-position: -216px 0
}

.ui-progressbar-mid-5 {
    background-position: -270px 0
}

.ui-progressbar-mid-6 {
    background-position: -324px 0
}

.ui-progressbar-mid-7 {
    background-position: -378px 0
}

.ui-progressbar-mid-8 {
    background-position: -432px 0
}

.ui-progressbar-mid-9 {
    background-position: -486px 0
}

.ui-progressbar-mid-10 {
    background-position: -540px 0
}

.ui-progressbar-mid-11 {
    background-position: -594px 0
}

.ui-progressbar-mid-12 {
    background-position: -648px 0
}

.ui-progressbar-mid-13 {
    background-position: -702px 0
}

.ui-progressbar-mid-14 {
    background-position: -756px 0
}

.ui-progressbar-mid-15 {
    background-position: -810px 0
}

.ui-progressbar-mid-16 {
    background-position: -864px 0
}

.ui-progressbar-mid-17 {
    background-position: -918px 0
}

.ui-progressbar-mid-18 {
    background-position: -972px 0
}

.ui-progressbar-mid-19 {
    background-position: -1026px 0
}

.ui-progressbar-mid-20 {
    background-position: -1080px 0
}

.ui-progressbar-mid-21 {
    background-position: -1134px 0
}

.ui-progressbar-mid-22 {
    background-position: -1188px 0
}

.ui-progressbar-mid-23 {
    background-position: -1242px 0
}

.ui-progressbar-mid-24 {
    background-position: -1296px 0
}

.ui-progressbar-mid-25 {
    background-position: -1350px 0
}

.ui-progressbar-mid-26 {
    background-position: -1404px 0
}

.ui-progressbar-mid-27 {
    background-position: -1458px 0
}

.ui-progressbar-mid-28 {
    background-position: -1512px 0
}

.ui-progressbar-mid-29 {
    background-position: -1566px 0
}

.ui-progressbar-mid-30 {
    background-position: -1620px 0
}

.ui-progressbar-mid-31 {
    background-position: -1674px 0
}

.ui-progressbar-mid-32 {
    background-position: -1728px 0
}

.ui-progressbar-mid-33 {
    background-position: -1782px 0
}

.ui-progressbar-mid-34 {
    background-position: -1836px 0
}

.ui-progressbar-mid-35 {
    background-position: -1890px 0
}

.ui-progressbar-mid-36 {
    background-position: -1944px 0
}

.ui-progressbar-mid-37 {
    background-position: -1998px 0
}

.ui-progressbar-mid-38 {
    background-position: -2052px 0
}

.ui-progressbar-mid-39 {
    background-position: -2106px 0
}

.ui-progressbar-mid-40 {
    background-position: -2160px 0
}

.ui-progressbar-mid-41 {
    background-position: -2214px 0
}

.ui-progressbar-mid-42 {
    background-position: -2268px 0
}

.ui-progressbar-mid-43 {
    background-position: -2322px 0
}

.ui-progressbar-mid-44 {
    background-position: -2376px 0
}

.ui-progressbar-mid-45 {
    background-position: -2430px 0
}

.ui-progressbar-mid-46 {
    background-position: -2484px 0
}

.ui-progressbar-mid-47 {
    background-position: -2538px 0
}

.ui-progressbar-mid-48 {
    background-position: -2592px 0
}

.ui-progressbar-mid-49 {
    background-position: -2646px 0
}

.ui-progressbar-mid-50 {
    background-position: -2700px 0
}

.ui-progressbar-mid-51 {
    background-position: -2754px 0
}

.ui-progressbar-mid-52 {
    background-position: -2808px 0
}

.ui-progressbar-mid-53 {
    background-position: -2862px 0
}

.ui-progressbar-mid-54 {
    background-position: -2916px 0
}

.ui-progressbar-mid-55 {
    background-position: -2970px 0
}

.ui-progressbar-mid-56 {
    background-position: -3024px 0
}

.ui-progressbar-mid-57 {
    background-position: -3078px 0
}

.ui-progressbar-mid-58 {
    background-position: -3132px 0
}

.ui-progressbar-mid-59 {
    background-position: -3186px 0
}

.ui-progressbar-mid-60 {
    background-position: -3240px 0
}

.ui-progressbar-mid-61 {
    background-position: -3294px 0
}

.ui-progressbar-mid-62 {
    background-position: -3348px 0
}

.ui-progressbar-mid-63 {
    background-position: -3402px 0
}

.ui-progressbar-mid-64 {
    background-position: -3456px 0
}

.ui-progressbar-mid-65 {
    background-position: -3510px 0
}

.ui-progressbar-mid-66 {
    background-position: -3564px 0
}

.ui-progressbar-mid-67 {
    background-position: -3618px 0
}

.ui-progressbar-mid-68 {
    background-position: -3672px 0
}

.ui-progressbar-mid-69 {
    background-position: -3726px 0
}

.ui-progressbar-mid-70 {
    background-position: -3780px 0
}

.ui-progressbar-mid-71 {
    background-position: -3834px 0
}

.ui-progressbar-mid-72 {
    background-position: -3888px 0
}

.ui-progressbar-mid-73 {
    background-position: -3942px 0
}

.ui-progressbar-mid-74 {
    background-position: -3996px 0
}

.ui-progressbar-mid-75 {
    background-position: -4050px 0
}

.ui-progressbar-mid-76 {
    background-position: -4104px 0
}

.ui-progressbar-mid-77 {
    background-position: -4158px 0
}

.ui-progressbar-mid-78 {
    background-position: -4212px 0
}

.ui-progressbar-mid-79 {
    background-position: -4266px 0
}

.ui-progressbar-mid-80 {
    background-position: -4320px 0
}

.ui-progressbar-mid-81 {
    background-position: -4374px 0
}

.ui-progressbar-mid-82 {
    background-position: -4428px 0
}

.ui-progressbar-mid-83 {
    background-position: -4482px 0
}

.ui-progressbar-mid-84 {
    background-position: -4536px 0
}

.ui-progressbar-mid-85 {
    background-position: -4590px 0
}

.ui-progressbar-mid-86 {
    background-position: -4644px 0
}

.ui-progressbar-mid-87 {
    background-position: -4698px 0
}

.ui-progressbar-mid-88 {
    background-position: -4752px 0
}

.ui-progressbar-mid-89 {
    background-position: -4806px 0
}

.ui-progressbar-mid-90 {
    background-position: -4860px 0
}

.ui-progressbar-mid-91 {
    background-position: -4914px 0
}

.ui-progressbar-mid-92 {
    background-position: -4968px 0
}

.ui-progressbar-mid-93 {
    background-position: -5022px 0
}

.ui-progressbar-mid-94 {
    background-position: -5076px 0
}

.ui-progressbar-mid-95 {
    background-position: -5130px 0
}

.ui-progressbar-mid-96 {
    background-position: -5184px 0
}

.ui-progressbar-mid-97 {
    background-position: -5238px 0
}

.ui-progressbar-mid-98 {
    background-position: -5292px 0
}

.ui-progressbar-mid-99 {
    background-position: -5346px 0
}

.ui-progressbar-mid-100 {
    background-position: -5400px 0
}

/* mansy's work */

div.about-con p {
    text-indent: 2em;
}

#right {
    width: 780px;
    float: right;
    background: white;
}
.title span {
    float: left;
    border-bottom: 2px solid #ffb900;
}
.step2 i {
    background:url(../images/i-step2.png);
    color: #555;
}
html body div.con {
    /* background: #f7f7f7;*/
    padding: 15px 50px;
}
body#index-body {
    background: #fff;
}
.tz_tab td.xmm {
    padding-left: 0;
}
.shaixuan {
    background: #fff;
}
body#index-body div.con {
    padding: 0;
    width: 1100px;
    background: #fff;
}
.loan-item {
    width: 48%;
    margin-right: 11px;
    overflow: hidden;
    border-radius: 5px;
    background: white;
}
.loan-item-inner {
    padding: 5px 20px;
}
.loan-item h2 {
    padding: 10px 20px;
}
.loan-item h2 {
    color: white;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.loan-item:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100); 
}

.bg-blue {
    background: #81b0c5;
}
.bg-green {
    background: #3ea96b;
}
.bg-yellow {
    background: #bb9738;
}
.bg-white {
    background: white;
}

.loan-table {
    border-collapse: collapse;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
}
.rank::before {
    background: #55c31f;
}
#left {
    background: #f0f0f0;
}
.transfer-list {
    background: white;
    padding: 10px 30px 0 30px;
}
.tradetab li.act a {
    color: #ffb900;
}
.tradetab li.act {
    border-bottom: 2px solid #ffb900
}
.sxdl2 dd a.on { background-color: #21aeef; }
.query_qzsj i { background: url(../images/calendar.png) no-repeat; }
//.left_ul li i { background: url(../images/r-arrow.png) no-repeat; }
.i_sf { background: url(../images/namecard.png) no-repeat; }
.jindu2 span { background-color: #55c31f; }
.right_con h4 { color: #ffb900; }
.log_sel { height: 400px; }


// style of page security 
.security-con {
    background: white;
}
.security-con p {
    text-indent: 2em;
}
.security-con h2.security-title-1, .security-con h2.security-title-2, .security-con h2.security-title-3, .security-con h2.security-title-4 {
    position: relative;
    height: 66px;    
    left: -66px;
}
.security-con h2.security-title-1 span, .security-con h2.security-title-2 span, .security-con h2.security-title-3 span, .security-con h2.security-title-4 span {
    margin-top: 18px;
    display: inline-block;
    color: white;
}
.security-con h2.security-title-1 {
    background: url(../images/security-s-01.jpg) no-repeat scroll left 0;
}
.security-con h2.security-title-1 span {
    padding: 0 50px 0 40px;    
    background: #1bb8e2;
}
.security-con h2.security-title-2 {
    background: url(../images/security-titlebg-2.png) no-repeat scroll left 0;
}
.security-con h2.security-title-2 span {
    padding: 0 50px 0 40px;    
    background: #83c614;

}
.security-con h2.security-title-3 {
    background: url(../images/security-titlebg-3.png) no-repeat scroll left 0;  
}
.security-con h2.security-title-3 span {
    padding: 0 50px 0 40px;    
    background: #ffc400;
}
.security-con h2.security-title-4 {
    background: url(../images/security-titlebg-4.png) no-repeat scroll left 0;  
}
.security-con h2.security-title-4 span {
    padding: 0 50px 0 40px;    
    background: #45b5a7;
}
.security-con div.security-content {
    border-bottom: 1px dashed #aaa;
    padding-bottom: 50px;
}

.loan-table-3 tr:nth-child(odd) {
  background: #dbffd8;
}
.borb { padding-bottom: 6px; }

.sxdl dd .fit {
    width: 60px;
}

/* security */

.security-con.con {
    padding: 39px 86px;
    width: 1100px-86px*2;

    color: #666;

    .security-s {
        height: 59px;
        color: #f4f4f4;
        line-height: 59px;
        font-size: 28px;
        padding-left: 24px;

        strong {
            color: #fff;
        }
    }

    .security-s-1 {
        background: url(../images/security-s-01.jpg) no-repeat;
    }

    .security-s-3 {
        background: url(../images/security-s-03.jpg) no-repeat;
    }

    .security-s-5 {
        background: url(../images/security-s-05.jpg) no-repeat;
    }

    .security-s-2 {
        background: url(../images/security-s-02.jpg) no-repeat right center;
        text-align: right;
        padding-left: 0;
        padding-right: 24px;
    }

    .security-s-4 {
        background: url(../images/security-s-04.jpg) no-repeat right center;
        text-align: right;
        padding-left: 0;
        padding-right: 24px;
    }

    .security-img-1 {
        background: url(../images/security01.jpg) no-repeat center center;
        width: 366px;
        height: 279px;
    }

    .security-img-2 {
        background: url(../images/security02.jpg) no-repeat center center;
        width: 366px;
        height: 279px;
    }

    .security-img-3 {
        background: url(../images/security03.jpg) no-repeat center 60px;
        height: 356px;
    }

    .security-img-4 {
        background: url(../images/security04.jpg) no-repeat center center;
        height: 356px;
    }

    .security-img-5 {
        background: url(../images/security05.jpg) no-repeat center center;
        height: 356px;
    }
    

    @star: 67px;
    .star-line {
        width: 928px;
        position: relative;
        margin-top: 24px;
        height: 18px;

        .line {
            width: 928px-12px - @star ;
            height: 1px;
            background: #ccc;
            position: absolute;
            top: 9px;
        }

        .star {
            width: @star;
            height: 18px;
            background: url(../images/security-star.jpg) no-repeat;
            position: absolute;
            top: 0;
        }

        &.left {
            .line {
                right: 0;
            }

            .star {
                left: 0;
            }
        }

        &.right {
            .line {
                left: 0;
            }
            .star {
                right: 0;
            }
        }
    }
}


/* account page */
.new-rzzt {

    margin-top: 24px;

    .item {
        display: block;
        float: left;
        width: 64px;
        text-align: center;
        color: #999;

        i {
            display: block;
            width: 48px;
            height: 48px;
            margin: 0 auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .certify {
        i {
            background-image: url(../images/certify.png);
        }
    }    .phone {
        i {
            background-image: url(../images/phone.png);
        }
    }    .email {
        i {
            background-image: url(../images/email.png);
        }
    }    .card {
        i {
            background-image: url(../images/card.png);
        }
    }

    .un {
        color: #08c;

        &.certify {
            i {
                background-image: url(../images/un-certify.png);
            }
        }    &.phone {
            i {
                background-image: url(../images/un-phone.png);
            }
        }    &.email {
            i {
                background-image: url(../images/un-email.png);
            }
        }    &.card {
            i {
                background-image: url(../images/un-card.png);
            }
        }
    }
}

.gonggao {
  padding: 12px 20px;
}
.gonggao .more {
  right:40px;
}

.security-con.con .security-s { 
  padding-left: 40px;
  color: #f8f8f8;
}
.security-con.con .security-s-2 {
  padding-right: 40px;
}
.security-con.con .security-s-4 {
  padding-right: 44px;
}

/* ZJL's style */
.state .on {
  color: #fff;
  border-radius: 20px;
  background-color: #21aeef;
  padding: 0 12px;
}
.state a {
  display: inline-block;
  margin-right: 24px;
}